/**mlui.wxss**/
@import './iconfont.wxss';

@black: #000;
@blue: #69cdff;
@green: #4bd197;
@red: #ff5c5c;
@orange: #ffcb47;
@purple: #ff8ccb;
@white: #ffffff;
@gray: #f0f0f0;

page {
	background: #f6f6f6;
	font-size: 32rpx;
	color: @black;
	overflow-x: hidden;
}
button {
	background: initial;
}
button:focus {
	outline: 0;
}
button::after {
	border: none;
}
/* color */
.black {
	color: @black;
}
.blue {
	color: @blue;
}
.green {
	color: @green;
}
.red {
	color: @red;
}
.orange {
	color: @orange;
}
.purple {
	color: @purple;
}
.white {
	color: @white;
}
.gray {
	color: @gray;
}

/* font */
.normal {
	font-weight: normal;
}
.bold {
	font-weight: bold;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.font-12 {
	font-size: 24rpx;
}
.font-14 {
	font-size: 28rpx;
}
.font-16 {
	font-size: 32rpx;
}
.font-18 {
	font-size: 36rpx;
}
.font-20 {
	font-size: 40rpx;
}
/* 文字溢出处理 2行 + ... */
.one-line-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.two-lines-text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

/* background */
.bg-black {
	background-color: @black;
}
.bg-blue {
	background-color: @blue;
}
.bg-green {
	background-color: @green;
}
.bg-red {
	background-color: @red;
}
.bg-orange {
	background-color: @orange;
}
.bg-purple {
	background-color: @purple;
}
.bg-white {
	background-color: @white;
}
.bg-gray {
	background-color: @gray;
}

/* border */
.radius {
	border-radius: 8rpx;
}
.border {
	border: 2rpx solid @gray;
}
.no-border {
	border: none;
}
.border-black {
	border-color: @black;
}
.border-blue {
	border-color: @blue;
}
.border-green {
	border-color: @green;
}
.border-red {
	border-color: @red;
}
.border-orange {
	border-color: @orange;
}
.border-purple {
	border-color: @purple;
}
.border-white {
	border-color: @white;
}
.round {
	border-radius: 50%;
}

/* flex */
.flex {
	display: flex;
	&.colomn {
		flex-direction: column;
	}
	&.center {
		align-items: center;
	}
	&.end {
		align-items: flex-end;
	}
	&.space-around {
		justify-content: space-around;
	}
	&.space-between {
		justify-content: space-between;
	}
	&.justify-start {
		justify-content: flex-start;
	}
	&.justify-end {
		justify-content: flex-end;
	}
}

.scroll-x {
	overflow-y: hidden;
	overflow-x: auto;
}

/* position */
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.position-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
