/* components/ml-banner/ml-banner.wxss */
@import '../../style/mlui.less';

.ml-banner {
  .inner {
    transition: left 0.3s ease;
    .banner-item {
      height: 100%;
      display: inline-block;
      image {
        width: 100%;
        height: 100%;
      }
      video {
        width: 100%;
        height: 100%;
      }
    }
  }
  .point {
    bottom: 5%;
    left: 50vw;
    transform: translateX(-50%);
    .point-item {
      height: 10rpx;
      width: 10rpx;
      margin: 0 10rpx;
      border-radius: 5rpx;
      transition: width 0.3s ease;
      &.active {
        width: 40rpx;
      }
    }
  }
}
